@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  color: #fff;
  font-size: 14px;
}

img {
  max-width: 100%;
  display: block;
}
.app {
  height: 100vh;
}

/*****Main*****/
.main {
  height: calc(100% - 90px);
  display: flex;
}
/*SIDE BAR*/
.main .side-nav {
  width: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-top,
.side-bottom {
  padding: 0.5rem;
}

.nav-icon {
  width: 75%;
  margin: 0.3rem auto;
}
.nav-icon.profile {
  background-color: #808080;
  padding: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

/*MAIN OF THE MAIN*/
.main-main {
  padding-top: 90px;
  width: calc(100% - 50px);
  background-color: #141922;
  overflow: auto;
}

.main-main .upgrade {
  padding: 1rem;
  position: fixed;
  right: 0;
  left: 50px;
  top: 0;
  background-color: #1e2b4b67;
  display: flex;
  justify-content: flex-end;
}

.upgrade .upgrade-btn {
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
}

.main .main-main .main-nav {
  color: #76797d;
  padding: 0.5rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.main .main-main .main-nav .nav-item {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.main .main-main .main-nav .nav-item.current:after {
  border-bottom: 2px solid #adff2f;
  content: "";
  display: block;
  margin: 0 auto;
  width: 30%;
}

/*RECENTLY PLAYED*/
.main .main-main .container .recently-played,
.main .main-main .container .fav-playlists,
.main .main-main .container .artisti-pop {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: calc((100% / 2) - 5px);

  text-align: center;
}

.card h3 {
  font-size: 12px;
}

.card span {
  font-size: 10px;
  color: #76797d;
}
.card .card-img {
  width: 100%;
  aspect-ratio: 1;
}

.card .card-footer {
  padding: 1rem;
}

/*FAV PLAYLISTS*/
.main .main-main .container .fav-playlists span,
.main .main-main .container .artisti-pop span {
  color: #76797d;
  font-size: 12px;
}
.artisti-pop .round-img {
  width: 95%;
  aspect-ratio: 1;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
/*PLAYER*/
.player {
  min-height: 90px;
  background-color: #282828;
}

/**/ /**/ /**/
/******MEDIA QUERIES******/

/*SMALL SCREEN*/
@media screen and (min-width: 576px) {
  .main .side-nav {
    width: 250px;
  }

  .main-main .upgrade {
    left: 250px;
  }

  .main-main {
    width: calc(100% - 250px);
  }
  .card h3 {
    font-size: 14px;
  }

  .card span {
    font-size: 12px;
  }
}
/*TABLET*/

@media screen and (min-width: 768px) {
  .card {
    width: calc((100% / 4) - (30px / 4));
  }
}
/*LARGE SCREEN*/
@media screen and (min-width: 1100px) {
  .card {
    width: calc((100% / 6) - ((10px * 5) / 4));
  }

  .upgrade .upgrade-btn:hover {
    transform: scale(1.2);
  }

  .main .main-main .main-nav .nav-item {
    font-size: 0.7rem;
  }
  .main .main-main .main-nav .nav-item:hover {
    color: #fff;
  }
}
/*EXTRA NARROW VH*/
/* @media screen and (height<100vh) {
  .app {
    position: relative;
    overflow: hidden;
  }
  .player {
    position: fixed;
    height: 150px;
  }
}
@media screen and (height<500px) {
  .player {
    height: 150px;
  }
} */
